<p>switch works!</p>
<input type="text" class="form-control" #newday>
<button class="btn btn-warning my-2" (click)="day = newday.value">
    Show day</button>
<div [ngSwitch]="day" *ngIf="day">
    <span *ngSwitchCase="'1'">Lunes</span>
    <span *ngSwitchCase="'2'">Martes</span>
    <span *ngSwitchCase="'3'">Miercoles</span>
    <span *ngSwitchCase="'4'">Jueves</span>
    <span *ngSwitchCase="'5'">Viernes</span>
    <span *ngSwitchCase="'6'">Sabado</span>
    <span *ngSwitchCase="'7'">Domingo</span>
    <span *ngSwitchDefault>Unvalid value</span>
</div>
